[Unit]
Description=Fish Tank Sensor Script
After=network-online.target

[Service]
User={USERNAME}
WorkingDirectory={PATH_TO_HARDWARE_DIR}
ExecStart={PATH_TO_HARDWARE_DIR}/venv/bin/python {PATH_TO_HARDWARE_DIR}/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
